<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
    <display-name>Archetype Created Web Application</display-name>

    <servlet>
        <servlet-name>clearServlet</servlet-name>
        <servlet-class>frontend.ClearServletImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>clearServlet</servlet-name>
        <url-pattern>/api/clear/</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>forumCreateServlet</servlet-name>
        <servlet-class>frontend.ForumCreateServletImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>forumCreateServlet</servlet-name>
        <url-pattern>/api/forum/create/</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SimpleServlet</servlet-name>
        <servlet-class>frontend.Simple</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SimpleServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ForumDetails</servlet-name>
        <servlet-class>frontend.ForumDetailsServletImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ForumDetails</servlet-name>
        <url-pattern>/api/forum/details/</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ForumListPosts</servlet-name>
        <servlet-class>frontend.ForumListPostsServletImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ForumListPosts</servlet-name>
        <url-pattern>/api/forum/listPosts/</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ForumListThreads</servlet-name>
        <servlet-class>frontend.ForumListThreadsServletImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ForumListThreads</servlet-name>
        <url-pattern>/api/forum/listThreads/</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ForumListUsers</servlet-name>
        <servlet-class>frontend.ForumListUsersServletImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ForumListUsers</servlet-name>
        <url-pattern>/api/forum/listUsers/</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PostCreate</servlet-name>
        <servlet-class>frontend.PostCreateServletImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PostCreate</servlet-name>
        <url-pattern>/api/post/create/</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PostDetails</servlet-name>
        <servlet-class>frontend.PostDetailsServletImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PostDetails</servlet-name>
        <url-pattern>/api/post/details/</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PostList</servlet-name>
        <servlet-class>frontend.PostListServletImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PostList</servlet-name>
        <url-pattern>/api/post/list/</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PostRemove</servlet-name>
        <servlet-class>frontend.PostRemoveServletImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PostRemove</servlet-name>
        <url-pattern>/api/post/remove/</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PostRestore</servlet-name>
        <servlet-class>frontend.PostRestoreServletImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PostRestore</servlet-name>
        <url-pattern>/api/post/restore/</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PostUpdate</servlet-name>
        <servlet-class>frontend.PostUpdateServletImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PostUpdate</servlet-name>
        <url-pattern>/api/post/update/</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PostVote</servlet-name>
        <servlet-class>frontend.PostVoteServletImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PostVote</servlet-name>
        <url-pattern>/api/post/vote/</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UserCreate</servlet-name>
        <servlet-class>frontend.UserCreateServletImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserCreate</servlet-name>
        <url-pattern>/api/user/create/</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UserDetails</servlet-name>
        <servlet-class>frontend.UserDetailsServletImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserDetails</servlet-name>
        <url-pattern>/api/user/details/</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UserFollow</servlet-name>
        <servlet-class>frontend.UserFollowServletImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserFollow</servlet-name>
        <url-pattern>/api/user/follow/</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UserListFollowers</servlet-name>
        <servlet-class>frontend.UserListFollowersServletImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserListFollowers</servlet-name>
        <url-pattern>/api/user/listFollowers/</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UserListFollowing</servlet-name>
        <servlet-class>frontend.UserListFollowingServletImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserListFollowing</servlet-name>
        <url-pattern>/api/user/listFollowing/</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UserListPosts</servlet-name>
        <servlet-class>frontend.UserListPostsServletImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserListPosts</servlet-name>
        <url-pattern>/api/user/listPosts/</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UserUnfollow</servlet-name>
        <servlet-class>frontend.UserUnfollowServletImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserUnfollow</servlet-name>
        <url-pattern>/api/user/unfollow/</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UserUpdateProfile</servlet-name>
        <servlet-class>frontend.UserUpdateProfileServletImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserUpdateProfile</servlet-name>
        <url-pattern>/api/user/updateProfile/</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ThreadClose</servlet-name>
        <servlet-class>frontend.ThreadCloseServletImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ThreadClose</servlet-name>
        <url-pattern>/api/thread/close/</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ThreadCreate</servlet-name>
        <servlet-class>frontend.ThreadCreateServletImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ThreadCreate</servlet-name>
        <url-pattern>/api/thread/create/</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ThreadDetails</servlet-name>
        <servlet-class>frontend.ThreadDetailsServletImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ThreadDetails</servlet-name>
        <url-pattern>/api/thread/details/</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ThreadList</servlet-name>
        <servlet-class>frontend.ThreadListServletImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ThreadList</servlet-name>
        <url-pattern>/api/thread/list/</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ThreadListPosts</servlet-name>
        <servlet-class>frontend.ThreadListPostsServletImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ThreadListPosts</servlet-name>
        <url-pattern>/api/thread/listPosts/</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ThreadOpen</servlet-name>
        <servlet-class>frontend.ThreadOpenServletImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ThreadOpen</servlet-name>
        <url-pattern>/api/thread/open/</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ThreadRemove</servlet-name>
        <servlet-class>frontend.ThreadRemoveServletImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ThreadRemove</servlet-name>
        <url-pattern>/api/thread/remove/</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ThreadRestore</servlet-name>
        <servlet-class>frontend.ThreadRestoreServletImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ThreadRestore</servlet-name>
        <url-pattern>/api/thread/restore/</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ThreadSubscribe</servlet-name>
        <servlet-class>frontend.ThreadSubscribeServletImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ThreadSubscribe</servlet-name>
        <url-pattern>/api/thread/subscribe/</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ThreadUnsubscribe</servlet-name>
        <servlet-class>frontend.ThreadUnsubscribeServletImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ThreadUnsubscribe</servlet-name>
        <url-pattern>/api/thread/unsubscribe/</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ThreadUpdate</servlet-name>
        <servlet-class>frontend.ThreadUpdateServletImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ThreadUpdate</servlet-name>
        <url-pattern>/api/thread/update/</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ThreadVote</servlet-name>
        <servlet-class>frontend.ThreadVoteServletImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ThreadVote</servlet-name>
        <url-pattern>/api/thread/vote/</url-pattern>
    </servlet-mapping>
</web-app>